body {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42; 
    background-color: #ffffff;
}
 ul {
    list-style-type: none;
 }
 
a {
    text-decoration: none;
 }

 /* #region header styles */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo .logo-2ndcolor {
    color: #2e2f42;
}
.nav-link,
.nav-link:visited {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts-link {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
 /* #endregion header styles */

 /* #region hero styles */

.hero-block {
    background: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.hero-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

/* #endregion hero styles */

/* #region about styles */
.about-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.about-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.about-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion about styles */

/* #region team styles  */
.our-team-section {
background: #f4f4fd;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-list {

}
.team-list-item {

}
.team-img {
background-color: #ffffff;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    background-color: #ffffff;
}
.team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    background-color: #ffffff;
}
/* #endregion team styles  */

/* #region portfolio styles */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion portfolio styles */