body {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42; 
    background-color: #ffffff;
}
 ul {
    list-style-type: none;
 }
 
a {
    text-decoration: none;
 }

 /* #region header styles */
 .logo {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
 }
 .logo-main-color {
    color: #4d5ae5;
 }
 .nav-link,
 .nav-link:visited {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
 .nav-link:hover,
 .nav-link:focus {
    color: #404bbf;
 }

.contacts-link {
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #434455;
 }

 .contacts-link:hover,
 .contacts-link:focus {
    color: #404bbf;
 }
/* #endregion header styles */

 /* #region hero styles */

.hero-block {
    background: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.hero-button {
    font-family: 'Roboto', sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

/* #endregion hero styles */

/* #region about styles */
.about-main-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
}

.about-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.about-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion about styles */

/* #region team styles  */
.team-section {
    background: #f4f4fd;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-list {
    background-color: #ffffff;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-role {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* #endregion team styles  */

/* #region portfolio styles */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio-product {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.portfolio-projects {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion portfolio styles */

/* #region footer styles */
.footer-block {
    background-color: #2e2f42;
}
.footer-logo {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* #endregion footer styles */